{% extends 'floorPlan/template_html/template_navbar_room_plan.html' %}

<!-- Sets title to page -->
{% block title %}
    Create a new Room
{% endblock %}

<!-- Set "add chair" button to active in nav -->
{% block chair_active %}
    active
{% endblock %}

<!-- Beginning of black from Templates/template-navbar.html-->
{% block body_nav_rp %}

    <div class="row">
    <div style="margin: 0 auto !important; width:500px; " class="">
        <div class="panel panel-default">
            <div class="panel-body">
                <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="next" value="{{ next }}" />
                            {% csrf_token %}
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <span class="text-danger">{{ form.text.errors }}</span>
                                </div>
                            <label class="control-label col-sm-2">{{ form.text.label_tag }}</label>
                            <div class="col-sm-10">{{ form.text }}</div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <span class="text-danger">{{ form.order.errors }}</span>
                                </div>
                            <label class="control-label col-sm-2">{{ form.order.label_tag }}</label>
                            <div class="col-sm-10">{{ form.order }}</div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <span class="text-danger">{{ form.survey.errors }}</span>
                                </div>
                            <label class="control-label col-sm-2">{{ form.survey.label_tag }}</label>
                            <div class="col-sm-10">{{ form.survey }}</div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <span class="text-danger">{{ form.type.errors }}</span>
                                </div>
                            <label class="control-label col-sm-2">{{ form.type.label_tag }}</label>
                            <div class="col-sm-10">{{ form.type }}</div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <span class="text-danger">{{ form.choices.errors }}</span>
                                </div>
                            <label class="control-label col-sm-2">{{ form.choices.label_tag }}</label>
                            <div class="col-sm-10">{{ form.choices }}</div>
                            </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}