body{
    font-family: 'Roboto', sans-serif;
    background: white url("background.png");
}

.navbar{
    border-radius: 0;
    background-color: #FFC400;
}

.navbar a{
    color: navy;
}

.navbar-brand{

}
