{% extends 'floorPlan/template_html/template_navbar_setting.html' %}
<!-- Sets title to page -->
{% block title %}
    Settings
{% endblock %}

<!-- Set "alertness" button to active in nav -->
{% block alertness_setting_active %}
    active
{% endblock %}

<!-- Beginning of black from Templates/template-navbar.html-->
{% block body_setting %}

<div class="row">
<table align="center" style="width:15%; text-align: center" class="table table-inverse">
    <thead class="" >
        <tr>
            <th style="text-align: center">Alert Time Interval</th>
        </tr>
    </thead>
    {% for alertness in all_alertness %}
        <tr>
            <td>{{ alertness.interval }}</td>
            <td><a href="{% url 'floorPlan:alertness-edit-setting' alertness.id %}">Edit</a></td>
        </tr>
    {% endfor %}
</table>
</div>



{% endblock %}