{% extends 'floorPlan/template_html/template-navbar.html' %}

<!-- Sets title to page -->
{% block title %}
    Alertness Questionnaire
{% endblock %}

<!-- Set "alertness" button to active in nav -->
{% block alertness_active %}
    active
{% endblock %}

<!-- Beginning of black from Templates/template-navbar.html-->
{% block body %}

<table style="width:100%">
    <tr>
    <th>Participant</th>
    <th>Answer</th>
    <th>Timestamp</th>
    </tr>
    {% for answer in all_questionnaire %}
        <tr>
            <td>{{ answer.email }}</td>
            <td>{{ answer.answer }}</td>
            <td>{{ answer.time_stamp }}</td>
        </tr>
    {% endfor %}
</table>



{% endblock %}