{% extends 'floorPlan/template_html/template_navbar_data.html' %}

<!-- Sets title to page -->
{% block title %}
    Alertness Questionnaire
{% endblock %}

<!-- Set "alertness" button to active in nav -->
{% block alertness_active %}
    active
{% endblock %}

<!-- Beginning of black from Templates/template-navbar.html-->
{% block body_nav_data %}

<table style="width:66%" class="table table-striped table-dark table-hover">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Participant</th>
            <th scope="col">Answer</th>
            <th scope="col">Timestamp</th>
        </tr>
    </thead>

    {% for answer in all_questionnaire %}
        <tr>
            <td>{{ answer.username }}</td>
            <td>{{ answer.answer }}</td>
            <td>{{ answer.time_stamp }}</td>
        </tr>
    {% endfor %}
</table>



{% endblock %}