{% extends 'floorPlan/template_html/template_navbar_data.html' %}

<!-- Sets title to page -->
{% block title %}
    Analytics
{% endblock %}

<!-- Set "alertness" button to active in nav -->
{% block analytics_active %}
    active
{% endblock %}

<!-- Beginning of black from Templates/template-navbar.html-->
{% block body_nav_data %}

<table align="center" style="width:66%" class="table table-bordered table-inverse">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Participant</th>
            <th scope="col">Answer</th>
            <th scope="col">Timestamp</th>
        </tr>
    </thead>

    {% for analytics in all_analytics %}
        <tr>
            <td>{{ analytics.username }}</td>
            <td>{{ analytics.event }}</td>
            <td>{{ analytics.time_stamp }}</td>
        </tr>
    {% endfor %}
</table>



{% endblock %}