<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            Luxify
        {% endblock %}
    </title>

     {% load staticfiles %}
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
     <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
     <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
{#    <link rel="stylesheet" type="text/css" href="{% static 'music/style.css' %}" />﻿#}


</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">

        <!-- Header -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'floorPlan:sandbox' %}">Luxify</a>
        </div>

        <!-- Items -->
        <div class="collapse navbar-collapse" id="topNavBar">
            <ul class="nav navbar-nav">

                <!-- Room button -->
                <li class="{% block room_active %} {% endblock %}">
                    <a href="{% url 'floorPlan:room-add' %}">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp; Room
                    </a>
                </li>

                <!-- Table button -->
                <li class="{% block table_active %} {% endblock %}">
                    <a href="{% url 'floorPlan:table-add' %}">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp; Table
                    </a>
                </li>
                <li class="{% block chair_active %} {% endblock %}">
                    <a href="{% url 'floorPlan:chair-add' %}">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp; Chair
                    </a>
                </li>

                <!-- Song button -->
                <li class="{% block window_active %} {% endblock %}">
                    <a href="{% url 'floorPlan:window-add' %}">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp; Window
                    </a>
                </li>
           </ul>
        </div>
    </div>
</nav>
    {% block body %}
    {% endblock %}
</body>
</html>