{% extends 'floorPlan/template_html/template_navbar_room_plan.html' %}
{% block body_nav_rp %}

<ul>
   {% for room in all_rooms %}
        <li>
            <a href="{% url 'floorPlan:room-detail' room.id %}">
                {{ room }}
            </a>
            <ul>
               {% for desk in room.desk_set.all %}
                    <li>
                        {{ desk }}
                        <!-- <ul>
                            {% for chair in desk.chair_set.all %}
                                <li>
                                    {{ chair }}
                                </li>
                            {% endfor %}
                        </ul> -->
                        </li>
                {% endfor %}
                {% for window in room.window_set.all %}
                    <li>
                        {{ window }}
                    </li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
</ul>

{% endblock %}