{% extends 'floorPlan/template_html/template_navbar_setting.html' %}

<!-- Sets title to page -->
{% block title %}
    Create a new Profile
{% endblock %}

<!-- Set "add chair" button to active in nav -->
{% block profile_active %}
    active
{% endblock %}

<!-- Beginning of black from Templates/template-navbar.html-->
{% block body_setting %}

<table align="center" style="width:66%" class="table table-bordered table-inverse">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Profile</th>
            <th scope="col">Formula</th>
            <th scope="col" colspan="2"></th>
        </tr>
    </thead>

    {% for recommendation in all_recommendation %}
        <tr>
            <td>{{ recommendation.profile }}</td>
            <td>{{ recommendation.formula }}</td>
            <td><a href="{% url 'floorPlan:profile-edit' recommendation.id %}">Edit</a></td>
            <td><a href="{% url 'floorPlan:profile-delete' recommendation.id %}">Delete</a></td>
        </tr>
        {% endfor %}
        <tr>
            <td align="center" colspan="7"><a href="{% url 'floorPlan:profile-create' %}">Create new</a></td>
        </tr>

</table>

{% endblock %}