{% extends 'floorPlan/base.html' %}
{% block title %}
    Create a new User
{% endblock %}

{% block user_active %}
    active
{% endblock %}

{% block body %}

    {% include 'floorPlan/template-layout-form.html' %}

    <form action="{% url 'floorPlan:android-add' %}" method="post">

    <input type="text" name="email" value="joe">
    <input type="text" name="username" value="lol">
    <input type="text" name="password" value="hahaha">
     <button type="submit" formmethod="post">test api</button>
    </form>


{% endblock %}