{% extends 'floorPlan/template_html/template_navbar_data.html' %}
<!-- Sets title to page -->
{% block title %}
    Demographic Questionnaire
{% endblock %}

<!-- Set "alertness" button to active in nav -->
{% block demographic_active %}
    active
{% endblock %}

<!-- Beginning of black from Templates/template-navbar.html-->
{% block body_nav_data %}

<table align="center" style="width:66%" class="table table-bordered table-inverse">
    <thead class="">
        <tr>
            <th>Participant</th>
            <th>At workspace?</th>
            <th>Work room</th>
            <th>Profile</th>
        </tr>
    </thead>
    {% for participant in all_participant %}
        <tr>
            <td>{{ participant.username }}</td>
            <td>{{ participant.in_workspace }}</td>
            <td>{{ participant.room }}</td>
            <td>{{ participant.room }}</td>
        </tr>
    {% endfor %}
</table>



{% endblock %}