{% extends 'floorPlan/template_html/template_navbar_settings.html' %}
<!-- Sets title to page -->
{% block title %}
    Settings
{% endblock %}

<!-- Set "alertness" button to active in nav -->
{% block setting_active %}
    active
{% endblock %}

<!-- Beginning of black from Templates/template-navbar.html-->
{% block body_setting %}

<div class="row">
<table align="center" style="width:66%" class="table table-inverse">
    <thead class="">
        <tr>
            <th>User Category</th>
            <th>Visualization</th>
            <th>Recommendation</th>
            <th>Guidance</th>
            <td>Layout</td>
        </tr>
    </thead>
    {% for user_category in all_user_category %}
        <tr>
            <td>{{ user_category.user_category }}</td>
            <td>{{ user_category.visualization }}</td>
            <td>{{ user_category.recommendation }}</td>
            <td>{{ user_category.guidance }}</td>
            <td>
                <select style="color: #0f0f0f">
                {% for layout in all_layout %}
                    <option value="{{ layout.layout }}" >{{ layout.layout }}</option>
                {% endfor %}
                </select>
            </td>
        </tr>
    {% endfor %}
</table>
</div>

<div class="row">
<table align="center" style="width:66%" class="table table-inverse">
    <thead class="">
        <tr>
            <th>Layout</th>
            <th>Visualization</th>
            <th>Recommendation</th>
            <th>Guidance</th>
        </tr>
    </thead>
    {% for layout in all_layout %}
        <tr>
            <td>{{ user_category.user_category }}</td>
            <td>{{ user_category.visualization }}</td>
            <td>{{ user_category.recommendation }}</td>
            <td>{{ user_category.guidance }}</td>
        </tr>
    {% endfor %}
</table>
</div>




{% endblock %}