{% extends 'floorPlan/template_html/template_navbar_setting.html' %}
<!-- Sets title to page -->
{% block title %}
    Settings
{% endblock %}

<!-- Set "alertness" button to active in nav -->
{% block setting_active %}
    active
{% endblock %}

<!-- Beginning of black from Templates/template-navbar.html-->
{% block body_setting %}

<div class="row">
<table align="center" style="width:66%" class="table table-inverse">
    <thead class="">
        <tr>
            <th>User Category</th>
            <th>Visualization</th>
            <th>Recommendation</th>
            <th>Guidance</th>
        </tr>
    </thead>
    {% for user_category in all_user_category %}
        <tr>
            <td>{{ user_category.pk }}</td>
            <td>{{ user_category.user_category.visualization }}</td>
            <td>{{ user_category.user_category.recommendation }}</td>
            <td>{{ user_category.user_category.guidance }}</td>
            <td><a href="{% url 'floorPlan:user-cat-edit' user_category.id %}">Edit</a></td>
        </tr>
    {% endfor %}
</table>
</div>





{% endblock %}