html{
    margin: 0;
    height: 100%;
}

body{
    font-family: 'Roboto', sans-serif;
    background: white url("images/background.png");
    background-size:cover;
    margin: 0;
    height: 100%;
}

/*img{*/
    /*filter: grayscale(100%);*/
/*}*/

.navbar{
    border-radius: 0;
    /*margin-top: 0;*/
    padding-top: 0;
    background-color: #FFC400;

}

.navbar a{
    color: navy;
}

.navbar-brand{

}

#main_title {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}


h1{
    color: white;
    margin: auto;
    font-size: 8em;
    padding-bottom: 10%;
}


